@font-face {
    font-family: Titilium;
    src: url(../fonts/titillium.ttf);
}

@font-face {
    font-family: GNL;
    src: url(../fonts/gnl.ttf);
}

@font-face {
    font-family: GNB;
    src: url(../fonts/gnb.ttf);
}